<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.neunition">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".NeunitionApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:exported="false"
        android:fullBackupContent="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:useEmbeddedDex="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.main.view.SettingsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".ui.main.view.MainActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.main.view.SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.view.LoginActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver android:name=".data.receiver.BreakfastAlarmReceiver" />
        <receiver android:name=".data.receiver.LunchAlarmReceiver" />
        <receiver android:name=".data.receiver.DinnerAlarmReceiver" />

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
    </application>
</manifest>